<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cam.categorytest" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission xmlns:tools="http://schemas.android.com/tools"
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"></uses-permission>

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!-- 百度地图权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name="com.example.cam.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:persistent="true"
        >
        <activity android:name="com.example.cam.ruibin.RBMainActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@style/AppTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

                <!--
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                -->
            </intent-filter>
            <!--
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            -->
        </activity>

        <activity android:name=".AllAppActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            >
        </activity>

        <activity android:name=".LocationTypeActivity"
            android:launchMode="standard"
            android:theme="@android:style/Theme.Dialog"
            >
        <!-- android:theme="@android:style/Theme.Translucent" -->
        </activity>
        <service android:name="com.example.cam.server.AppCategroyServer"/>
        <service android:name="com.example.cam.server.LocationServer"/>
        <service android:name="com.example.cam.server.GetCurrentAppServer" android:process=":notification">
            <intent-filter>
                <action android:name="com.GetCurrentAppServer" />
            </intent-filter>
        </service>
        <service android:name="com.baidu.location.f" android:enabled="true"
            android:process=":remote">
        </service>

        <!--
        <service android:name="com.example.cam.server.NotificationServer"
            android:label="NotificationServer"

            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter android:priority="1000">
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        -->

        <service android:name="com.example.cam.ruibin.DeamonService"
            android:label="DeamonService"
            android:exported="true"
            android:process=":deamon">
        </service>
        <service
            android:name="com.example.cam.ruibin.DeamonService$InnerService"
            android:process=":deamon" />

        <service android:name="com.example.cam.ruibin.RecordService"
            android:label="RecordService"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:process=":recordService">
            <intent-filter android:priority="1000">
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>


        <receiver android:name="com.example.cam.broadcast.ScreenBroadcastReceiver"/>
        <receiver android:name="com.example.cam.server.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.example.cam.ruibin.BootReceiver"
            android:enabled="true"
            android:exported="true"
            android:process=":deamon">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.example.cam.ruibin.AlarmReceiver"
            android:process=":deamon" />

        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>


</manifest>
